@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="post">
    Suche:
    <input type="text" name="searchtext" value="@Model.SearchText" />
    <button class="btn btn-primary btn-sm" type="submit" asp-page-handler="">
        Search
    </button>
</form>
@foreach (var game in Model.Games)
{
    <div>
        <form method="post">
            <h3>@game.Name</h3>
            <input type="hidden" name="gameId" value="@game.Id" />
            <input type="hidden" name="gameName" value="@game.Name" />
            @if (User.Identity?.IsAuthenticated == true)
            {
                @if (game?.inCollection != null && game.inCollection == false)
                {
                    <button class="btn btn-primary btn-sm" type="submit" asp-page-handler="AddButton"> Add </button>
                }
                else
                {
                    <button class="btn btn-secondary btn-sm" type="submit" asp-page-handler="RemoveButton"> Remove </button>
                } 
            }

        </form>
    </div>
}